<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Thu Apr 28 17:39:19 CEST 2022-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="it.maggioli.eldasoft.appalti.bandiesitiavvisi.db.mapper.BandiEsitiAvvisiMapper">

	<resultMap id="resultBandoLista" type="it.maggioli.eldasoft.appalti.bandiesitiavvisi.ws.BandoListaType">
		<result property="codice" column="codice"/>
		<result property="titolo" column="titolo"/>
		<result property="cig" column="codicecig"/>
		<result property="tipo" column="tipo"/>
		<result property="contratto" column="tipocontratto"/>
		<result property="pubblicazione" column="dtpubblicazione"/>
		<result property="scadenzaBando" column="dtscadenzabando"/>
		<result property="scadenzaPubblEsito" column="dtscadenzaesito"/>
		<result property="scadenzaAvviso" column="dtscadenzaavviso"/>
		<result property="codiceStazAppaltante" column="codicefiscaleente"/>
		<result property="stazioneAppaltante" column="nomeente"/>
	</resultMap>

	<resultMap id="resultBando" type="it.maggioli.eldasoft.appalti.bandiesitiavvisi.ws.DettaglioBandoType">
		<result property="codice" column="codice"/>
		<result property="codiceLotto" column="codicelotto"/>
		<result property="tipo" column="tipo"/>
		<result property="titolo" column="titolo"/>
		<result property="contratto" column="tipocontratto"/>
		<result property="codiceFiscaleAmministrazione" column="codicefiscaleente"/>
		<result property="amministrazione" column="nomeente"/>
		<result property="tipoAmministrazione" column="tipoente"/>
		<result property="descTipoAmministrazione" column="desctipoente"/>
		<result property="provinciaSedeGara" column="provincia"/>
		<result property="comuneSedeGara" column="comune"/>
		<result property="indirizzoSedeGara" column="indirizzo"/>
		<result property="senzaImporto" column="senzaimporto"/>
		<result property="importoBaseAsta" column="importobaseasta"/>
		<result property="importoAggiudicazione" column="importoaggiudicazione"/>
		<result property="criterioAggiudicazione" column="criterioaggiudicazione"/>
		<result property="pubblicazione" column="dtpubblicazione"/>
		<result property="scadenzaBando" column="dtscadenzabando"/>
		<result property="scadenzaPubblEsito" column="dtscadenzaesito"/>
		<result property="scadenzaAvviso" column="dtscadenzaavviso"/>
		<result property="reqQualificazione" column="requisiti"/>
		<result property="descReqQualificazione" column="descrequisiti"/>
		<result property="cpv" column="codicecpv"/>
		<result property="descCpv" column="desccpv"/>
		<result property="scp" column="codicescp"/>
		<result property="urlPubblicazione" column="urlscp"/>
		<result property="cig" column="codicecig"/>
	</resultMap>

	<resultMap id="resultDocumentoBando" type="it.maggioli.eldasoft.appalti.bandiesitiavvisi.ws.DocumentoAllegatoType">
		<result property="id" column="iddoc"/>
		<result property="url" column="urldoc"/>
		<result property="descrizione" column="descrizione"/>
		<result property="nomefile" column="nomefile"/>
	</resultMap>

	<resultMap id="resultDownloadDocumento" type="it.maggioli.eldasoft.appalti.bandiesitiavvisi.ws.FileType">
		<result property="file" column="contfile" jdbcType="BINARY"/>
		<result property="nome" column="nome"/>
	</resultMap>
	
	<resultMap id="resultProspettoBeneficiari" type="it.maggioli.eldasoft.appalti.bandiesitiavvisi.ws.EsitoProspettoBeneficiariType">
		<result property="codice" column="codice"/>
		<result property="cig" column="codciglotto"/>
		<result property="oggetto" column="oggetto"/>
		<result property="codiceBeneficiario" column="codbeneficiario"/>
		<result property="beneficiario" column="beneficiario"/>
		<result property="datiFiscali" column="cfpi"/>
		<result property="importo" column="importo"/>
		<result property="dataAffidamento" column="data_affidamento"/>
		<result property="norma" column="norma"/>
		<result property="ufficio" column="ufficio"/>
		<result property="rup" column="responsabile_proc"/>
		<result property="modalita" column="modalita"/>
	</resultMap>
	
	<resultMap id="resultProspettoGareContrattiAnticorruzione" type="it.maggioli.eldasoft.appalti.bandiesitiavvisi.db.vo.AppaltoAggiudicatoAnticorruzione">
		<result property="idLotto" column="idanticorlotti"/>
		<result property="cig" column="cig"/>
		<result property="codiceFiscaleProponente" column="codfiscprop"/>
		<result property="denominazioneProponente" column="denomprop"/>
		<result property="oggetto" column="oggetto"/>
		<result property="sceltaContraente" column="descsceltacontr"/>
		<result property="importoAggiudicazione" column="impaggiudic"/>
		<result property="dataInizio" column="datainizio"/>
		<result property="dataUltimazione" column="dataultimazione"/>
		<result property="importoSommeLiquidate" column="impsommeliq"/>
	</resultMap>
	
	<resultMap id="resultDitteProspettoGareContrattiAnticorruzione" type="it.maggioli.eldasoft.appalti.bandiesitiavvisi.ws.PartecipanteType">
		<result property="ragioneSociale" column="ragsoc"/>
		<result property="codiceFiscale" column="codfisc"/>
		<result property="idFiscaleEstero" column="idfiscest"/>
		<result property="ruolo" column="descruolo"/>
	</resultMap>
	
	<resultMap id="resultAdempimentiAnticorruzione" type="it.maggioli.eldasoft.appalti.bandiesitiavvisi.ws.AdempimentoAnticorruzioneType">
		<result property="codice" column="codein"/>
		<result property="stazioneAppaltante" column="nomein"/>
		<result property="codiceFiscaleSA" column="cfein"/>
		<result property="annoRiferimento" column="annorif"/>
		<result property="url" column="urlsito"/>
		<result property="pubblicato" column="pubblicato"/>
		<result property="dataPubblicazione" column="datapubblicazione"/>
		<result property="dataAggiornamento" column="dataaggiornamento"/>
		<result property="dataApprovazione" column="dataapprovazione"/>
	</resultMap>

	<resultMap id="resultProspettoContratti" type="it.maggioli.eldasoft.appalti.bandiesitiavvisi.ws.ProspettoContrattoType">
		<result property="cig" column="cig"/>
		<result property="strutturaProponenteCF" column="codfiscprop"/>
		<result property="strutturaProponenteDenominazione" column="denomprop"/>
		<result property="oggetto" column="oggetto"/>
		<result property="sceltaContraente" column="descsceltacontr"/>
		<result property="importoAggiudicazione" column="impaggiudic"/>
		<result property="importoContratto" column="impultcontr"/>
		<result property="dataInizio" column="datainizio"/>
		<result property="dataUltimazione" column="datafine"/>
		<result property="importoSommeLiquidate" column="impsommeliq"/>
		<result property="codice" column="codice"/>
	</resultMap>
	
	<resultMap id="resultOperatoriInvitatiContratto" type="it.maggioli.eldasoft.appalti.bandiesitiavvisi.ws.OperatoreInvitatoType">
		<result property="ditta" column="ditta"/>
		<result property="ragioneSociale" column="ragsoc"/>
		<result property="codiceFiscale" column="codfisc"/>
		<result property="partitaIva" column="partiva"/>
		<result property="rti" column="rti"/>
	</resultMap>
	
	<resultMap id="resultComponentiRTI" type="it.maggioli.eldasoft.appalti.bandiesitiavvisi.ws.OperatoreType">
		<result property="ragioneSociale" column="ragsoc"/>
		<result property="codiceFiscale" column="codfisc"/>
		<result property="partitaIva" column="partiva"/>
		<result property="mandataria" column="mandataria"/>
	</resultMap>
	
	<resultMap id="resultSingolaAggiudicataria" type="java.lang.Integer">
		<result property="singolaAggiudicataria" column="numRecord"/>
	</resultMap>
	
	<resultMap id="resultAggiudicataria" type="java.lang.String">
		<result property="regioneSociale" column="descaggiudicataria"/>
	</resultMap>

	<resultMap id="resultConsulenteCollaboratore" type="it.maggioli.eldasoft.appalti.bandiesitiavvisi.ws.ConsulenteCollaboratoreType">		
		<!-- <result property="codiceSA" column="codsa" />  -->
		<result property="stazioneAppaltante" column="descsa"/>
		<result property="codice" column="codice"/>
		<result property="codiceSoggetto" column="codiceSoggetto"/>
		<result property="soggettoPercettore" column="soggettopercettore"/>
		<result property="protocollo" column="protocollo"/>
		<result property="data" column="data"/>
		<result property="oggettoPrestazione" column="oggprest"/>
		<result property="ragioneIncarico" column="ragioneincarico"/>
		<result property="compensoPrevisto" column="compensoprevisto"/>
		<result property="parteVariabile" column="partevariabile"/>
		<result property="dataDa" column="inizio"/>
		<result property="dataA" column="fine"/>
		<result property="tipoProcedura" column="procedura"/>
		<result property="numeroPartecipanti" column="numpart"/>
	</resultMap>

	
  <sql id="selectLista">
  SELECT codice, titolo, codicecig, tipo, tipocontratto, dtpubblicazione, dtscadenzabando, dtscadenzaesito, dtscadenzaavviso, codicefiscaleente, nomeente   
    FROM v_ws_gare_tabinf 
  </sql>

  <sql id="selectDettaglio">
  SELECT codice, codicelotto, tipo, titolo, tipocontratto, codicefiscaleente, nomeente, tipoente, desctipoente, provincia, comune, indirizzo, senzaimporto, importobaseasta, importoaggiudicazione, criterioaggiudicazione,
  dtpubblicazione, dtscadenzabando, dtscadenzaesito, dtscadenzaavviso, requisiti, descrequisiti, codicecpv, desccpv, codicescp, urlscp, codicecig   
    FROM v_ws_gare_tabinf 
  </sql>
  
  <sql id="whereBandiInCorso">
   WHERE ((tipo IN ('Bando','Avviso') AND dtpubblicazione &lt;= #{dataAttuale} <if test="dataPubblicazioneConDelta != null">AND dtpubblicazione &gt; #{dataPubblicazioneConDelta}</if> AND (dtscadenzabando &gt;= #{dataAttuale} OR dtscadenzabando is null)) OR (tipo = 'Esito' AND (dtpubblicazione is null OR dtpubblicazione &lt;= #{dataAttuale}) AND dtscadenzaesito &gt;= #{dataScadenzaEsito}))
  </sql>

  <sql id="whereBandiScaduti">
   WHERE (tipo IN ('Bando','Avviso') AND dtscadenzabando &lt; #{dataAttuale} <if test="dataScadenza != null">AND dtscadenzabando &gt; #{dataScadenza}</if>) AND ((tipo = 'Bando' AND (dtscadenzaesito &gt;= #{dataAttuale} OR dtscadenzaesito is null)) OR (tipo = 'Avviso' AND (dtscadenzaavviso &gt;= #{dataAttuale} OR dtscadenzaavviso is null)))
  </sql>
  
  <sql id="filtriInputRicerche">
     AND (islotto IS NULL OR islotto = 0) 
     <if test="tipo != null and tipo != ''">AND tipo = #{tipo}</if> 
     <if test="contratto != null and contratto != ''">AND tipocontratto = #{contratto}</if>
     <if test="dataPubblicazioneDa != null">AND dtpubblicazione &gt;= #{dataPubblicazioneDa}</if>
     <if test="dataPubblicazioneA != null">AND dtpubblicazione &lt;= #{dataPubblicazioneA}</if>
     <if test="codiceStazAppaltante != null and codiceStazAppaltante != ''">AND 
     (codicefiscaleente = #{codiceStazAppaltante} 
      OR EXISTS (SELECT cenint FROM v_ws_aderente_lotto al WHERE v_ws_gare_tabinf.codicecig = al.codcig AND al.cfein = #{codiceStazAppaltante}))
     </if>
     <if test="cig != null and cig != ''">AND UPPER(v_ws_gare_tabinf.codicecig) like #{cig}</if> 
  </sql>

  <sql id="selectConsulentiCollaboratori">
  SELECT codice, codicesoggetto, soggettopercettore, protocollo, data, ragioneincarico, oggprest,
    	 compensoprevisto, partevariabile, inizio, fine, procedura, numpart, codsa, descsa
  </sql>
  
  <sql id="whereConsulentiCollaboratori">
  WHERE 1=1
  	<if test="stazioneAppaltante != null and stazioneAppaltante != ''">AND codsa = #{stazioneAppaltante}</if>
    <if test="soggettoPercettore != null and soggettoPercettore != ''">AND UPPER(soggettopercettore) like #{soggettoPercettore}</if> 
    <if test="dataDa != null">AND data &gt;= #{dataDa} </if>
    <if test="dataA != null">AND data &lt;= #{dataA} </if>
    <if test="ragioneIncarico != null and ragioneIncarico != ''">AND UPPER(ragioneincarico) like #{ragioneIncarico}</if>
    <if test="compensoPrevistoDa != null and compensoPrevistoDa != ''">AND compensoprevisto &gt;= #{compensoPrevistoDa}</if>
    <if test="compensoPrevistoA != null and compensoPrevistoA != ''">AND compensoprevisto &lt;= #{compensoPrevistoA}</if>
  </sql>
  
  <select id="getElencoBandi" parameterType="java.util.HashMap" resultMap="resultBandoLista">
  <include refid="selectLista"/>
  <include refid="whereBandiInCorso"/>
  <include refid="filtriInputRicerche"/>
   ORDER BY tipoappalto asc, dtpubblicazione desc
  </select>

  <select id="getElencoBandiScaduti" parameterType="java.util.HashMap" resultMap="resultBandoLista">
  <include refid="selectLista"/>
  <include refid="whereBandiScaduti"/>
  <include refid="filtriInputRicerche"/>
   ORDER BY tipoappalto asc, dtscadenzabando desc, dtpubblicazione desc
  </select>

  <select id="getElencoStazioniAppaltanti" resultType="java.lang.String">
  SELECT codfiscale 
  	FROM v_ws_stazioni_app
  </select>

  <select id="getElencoDettagliBandi" parameterType="java.util.HashMap" resultMap="resultBando">
  <include refid="selectDettaglio"/>
  <include refid="whereBandiInCorso"/>
  <include refid="filtriInputRicerche"/>
   ORDER BY tipoappalto asc, dtpubblicazione desc
  </select>

  <select id="getElencoDettagliBandiScaduti" parameterType="java.util.HashMap" resultMap="resultBando">
  <include refid="selectDettaglio"/>
  <include refid="whereBandiScaduti"/>
  <include refid="filtriInputRicerche"/>
   ORDER BY tipoappalto asc, dtscadenzabando desc, dtpubblicazione desc
  </select>

  <select id="getBando" parameterType="java.util.HashMap" resultMap="resultBando">
  <include refid="selectDettaglio"/>
   WHERE codice = #{codice} AND tipo = #{tipo}
     AND (islotto IS NULL OR islotto = 1)
  </select>

  <select id="getDocumentiBando" parameterType="java.util.HashMap" resultMap="resultDocumentoBando">
  SELECT iddoc, urldoc, descrizione, nomefile 
    FROM v_ws_gare_tabinf_doc
   WHERE codice = #{codice} AND tipo = #{tipo} 
   ORDER BY iddoc ASC 
  </select>

  <select id="downloadDocumentoBando" parameterType="java.util.HashMap" resultMap="resultDownloadDocumento">
  SELECT oggetto as contfile, nomefile as nome 
    FROM v_ws_gare_tabinf_doc
   WHERE codice = #{codice} AND tipo = #{tipo} AND iddoc = #{id}
  </select>
  
  <select id="getProspettoBeneficiari" parameterType="java.util.HashMap" resultMap="resultProspettoBeneficiari">
  SELECT codice, codciglotto, oggetto, codbeneficiario, beneficiario, cfpi, importo, data_affidamento, norma, ufficio, responsabile_proc, modalita 
    FROM v_ws_gare_ammaperta
   WHERE 1=1
     <if test="dataAffidamentoDa != null">AND data_affidamento &gt;= #{dataAffidamentoDa}</if>
     <if test="dataAffidamentoA != null">AND data_affidamento &lt;= #{dataAffidamentoA}</if>
   ORDER BY data_affidamento desc 
  </select>
  
  <select id="getNumeroDocumentiBeneficiario" parameterType="java.util.HashMap" resultType="java.lang.Integer">
  SELECT count(nomefile) 
    FROM v_ws_gare_ammaperta_doc
   WHERE codice = #{codice} 
     AND (dittaagg IS NULL OR dittaagg = #{codiceBeneficiario})
     AND tipologia=90
     AND datpub IS NOT NULL
  </select>
  
  <select id="downloadDocumentiBeneficiario" parameterType="java.util.HashMap" resultMap="resultDownloadDocumento">
  SELECT oggetto as contfile, nomefile as nome 
    FROM v_ws_gare_ammaperta_doc
   WHERE codice = #{codice} 
     AND (dittaagg IS NULL OR dittaagg = #{codiceBeneficiario})
     AND tipologia=90
     AND datpub IS NOT NULL
  </select>
  
  <select id="getProspettoGareContrattiAnticorruzione" parameterType="java.util.HashMap" resultMap="resultProspettoGareContrattiAnticorruzione">
  SELECT annorif, idanticorlotti, cig, codfiscprop, denomprop, oggetto, descsceltacontr, impaggiudic, datainizio, dataultimazione, impsommeliq 
    FROM v_ws_gare_anticor
   WHERE annorif=#{anno}
     <if test="cig != null and cig != ''">AND UPPER(cig) like #{cig}</if> 
     <if test="proponente != null and proponente != ''">AND 
     (UPPER(codfiscprop) like #{proponente} OR UPPER(denomprop) like #{proponente})
     </if>
     <if test="oggetto != null and oggetto != ''">AND (UPPER(oggetto) like #{oggetto}) </if>
     <if test="partecipante != null and partecipante != ''">AND EXISTS (SELECT idanticorpartecip FROM v_ws_gare_anticor_ditte WHERE v_ws_gare_anticor_ditte.idanticorlotti = v_ws_gare_anticor.idanticorlotti AND (UPPER(ragsoc) like #{partecipante} OR UPPER(codfisc) like #{partecipante} OR UPPER(idfiscest) like #{partecipante})) </if>
     <if test="aggiudicatario != null and aggiudicatario != ''">AND EXISTS (SELECT idanticorpartecip FROM v_ws_gare_anticor_ditte WHERE v_ws_gare_anticor_ditte.idanticorlotti = v_ws_gare_anticor.idanticorlotti AND aggiudicataria='1' AND (UPPER(ragsoc) like #{aggiudicatario} OR UPPER(codfisc) like #{aggiudicatario} OR UPPER(idfiscest) like #{aggiudicatario})) </if>
   ORDER BY datainizio desc 
  </select>

  <select id="getDitteProspettoGareContrattiAnticorruzione" parameterType="java.util.HashMap" resultMap="resultDitteProspettoGareContrattiAnticorruzione">
  SELECT ragsoc, codfisc, idfiscest, descruolo 
    FROM v_ws_gare_anticor_ditte
   WHERE idanticorlotti = #{idLotto}
     <if test="aggiudicataria != null and aggiudicataria != ''">AND aggiudicataria = 1</if>  
   ORDER BY idanticorpartecip asc, codruolo asc 
  </select>

  <select id="getAdempimentiAnticorruzione" parameterType="java.util.HashMap" resultMap="resultAdempimentiAnticorruzione">
  SELECT 
  	codein,nomein,cfein,annorif,urlsito,pubblicato,datapubblicazione,dataaggiornamento,dataapprovazione 
  	FROM v_ws_adempimenti_anticor
   WHERE 1=1
   	<if test="anno != null and anno != ''">AND annorif=#{anno} </if> 
   ORDER BY 
 	  annorif desc, nomein asc
  </select>
  
  <select id="getProspettoContratto" parameterType="java.util.HashMap" resultMap="resultProspettoContratti">
  SELECT cig, codiceprop, codfiscprop, denomprop, oggetto, descsceltacontr, descaggiudicataria, impaggiudic, datainizio, datafine,
  		impsommeliq, codice, impultcontr
  FROM v_ws_trasp_contratti
  WHERE 1=1
  	<if test="cig != null and cig != ''">AND UPPER(cig)=#{cig} </if>
  	<if test="stazioneAppaltante != null and stazioneAppaltante != ''">AND 
  	(codiceprop = #{stazioneAppaltante}
 	 OR EXISTS (SELECT cenint FROM v_ws_aderente_lotto al 
 	            WHERE (v_ws_trasp_contratti.codice = al.ngara OR v_ws_trasp_contratti.codice = al.codice) 	
 				AND al.cenint = #{stazioneAppaltante})) 
  	</if>
  	<if test="oggetto != null and oggetto != ''">AND UPPER(oggetto) like #{oggetto} </if>
  	<!-- <isNotEmpty property="tipoAppalto" prepend="AND"> tipgarg = #{tipoAppalto}</isNotEmpty> -->
  	<if test="partecipante != null and partecipante != ''">AND EXISTS (SELECT ditta FROM v_ws_trasp_contratti_partecip p 
  		WHERE p.codice = v_ws_trasp_contratti.codice AND (UPPER(ragsoc) like #{partecipante} OR UPPER(codfisc) like #{partecipante} OR UPPER(partiva) like #{partecipante}))
  	</if>
    <if test="aggiudicatario != null and aggiudicatario != ''">AND      
    	((singolaaggiudicataria=1 AND (UPPER(descaggiudicataria) like #{aggiudicatario} OR UPPER(codfiscaggiudicataria) like #{aggiudicatario} OR UPPER(partivaaggiudicataria) like #{aggiudicatario}))
	 OR (singolaaggiudicataria=0 AND EXISTS(SELECT ditta FROM v_ws_gare_n_aggiudicatari aggaq WHERE aggaq.codice = v_ws_trasp_contratti.codice AND (UPPER(ragsoc) like #{aggiudicatario} OR UPPER(codfisc) like #{aggiudicatario} OR UPPER(partiva) like #{aggiudicatario}))))
	</if>
  	<if test="dataPubblicazioneEsitoDa != null">AND  datapubbesito &gt;= #{dataPubblicazioneEsitoDa} </if>
  	<if test="dataPubblicazioneEsitoA != null">AND  datapubbesito &lt;= #{dataPubblicazioneEsitoA}  </if>
  </select>
  
  <select id="getInfoContratto" parameterType="java.util.HashMap" resultMap="resultProspettoContratti">
	SELECT
	cig,codiceprop, codfiscprop, denomprop, oggetto, descsceltacontr, descaggiudicataria, impaggiudic, datainizio, datafine,
	impsommeliq, codice, impultcontr
	FROM v_ws_trasp_contratti
	WHERE codice=#{codice}
  </select>
 
  <select id="getOperatoriInvitatiContratto" parameterType="java.util.HashMap" resultMap="resultOperatoriInvitatiContratto">
 	SELECT ditta,ragsoc,codfisc,partiva,rti
 	FROM v_ws_trasp_contratti_partecip
 	WHERE codice=#{codice}
 	ORDER BY ragsoc 
  </select>
  
  <select id="getComponentiRTI" parameterType="java.util.HashMap" resultMap="resultComponentiRTI">
 	SELECT ragsoc,codfisc,partiva,mandataria
 	FROM v_ws_trasp_contratti_dett_rti
 	WHERE codimprti=#{ditta}
 	ORDER BY mandataria desc, ragsoc asc
  </select>
  
    <select id="isSingolaAggiudicataria" parameterType="java.util.HashMap" resultMap="resultSingolaAggiudicataria">
 	SELECT count(*) as numRecord
 	FROM v_ws_trasp_contratti
 	WHERE codice=#{codice} and singolaaggiudicataria=1
  </select>
  
  <select id="getListaAggiudicatari" parameterType="java.util.HashMap" resultMap="resultOperatoriInvitatiContratto">
  	SELECT ditta,ragsoc,codfisc,partiva,rti
    FROM v_ws_gare_n_aggiudicatari
  	WHERE codice=#{codice}
  	ORDER BY numord ASC
  </select>
  
  <select id="getAggiudicataria" parameterType="java.util.HashMap" resultMap="resultAggiudicataria">
  	SELECT descaggiudicataria
    FROM v_ws_trasp_contratti
  	WHERE codice=#{codice}
  </select>
 
  <select id="getConsulentiCollaboratori" parameterType="java.util.HashMap" resultMap="resultConsulenteCollaboratore">
  	<include refid="selectConsulentiCollaboratori"/>
    FROM v_ws_consulenti
    <include refid="whereConsulentiCollaboratori"/>
    UNION
    <include refid="selectConsulentiCollaboratori"/>
    FROM v_consulenti_custom
    <include refid="whereConsulentiCollaboratori"/>
    ORDER BY data DESC, soggettopercettore
  </select>

  <select id="getNumeroDocumentiConsulente" parameterType="java.util.HashMap" resultType="java.lang.Integer">
  SELECT count(nomefile) 
    FROM v_ws_gare_ammaperta_doc
   WHERE codice = #{codice} 
     AND (dittaagg IS NULL OR dittaagg = #{codiceSoggetto})
     AND tipologia=91
     AND datpub IS NOT NULL
  </select>

  <select id="downloadDocumentiConsulentiCollaboratori" parameterType="java.util.HashMap" resultMap="resultDownloadDocumento">
  SELECT oggetto as contfile, nomefile as nome 
    FROM v_ws_gare_ammaperta_doc
   WHERE codice = #{codice} 
     AND (dittaagg IS NULL OR dittaagg = #{codiceSoggetto})
     AND tipologia=91
     AND datpub IS NOT NULL
  </select>
  
</mapper>