<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<appenders>
	    <Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{dd-MMM-yyyy HH.mm.ss} [${nomeWebapp}]|%-5p|%m%n" />
			<Filters>
				<ThresholdFilter level="WARN" />
			</Filters>
		</Console>
		<RollingFile name="ApplicationLog" fileName="${sys:catalina.home}/logs/${nomeWebapp}.log" append="true" filePattern="${sys:catalina.home}/logs/${nomeWebapp}.log.%d{'.'yyyy-MM-dd}">
			<PatternLayout pattern="&lt;%-5p&gt; [%d] [%t] Classe: %c - Metodo:%M%n&#x9;&#x9;Messaggio= %m%n%n"/>
			<Filters>
				<!-- VARIAZIONE LIVELLO LOG --><ThresholdFilter level="${log4j.appender.applicationLog.threshold}" />
			</Filters>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" />
			</Policies>
		</RollingFile>
	</appenders>
	<Loggers>
		<Logger name="java.sql.PreparedStatement" level="DEBUG" additivity="false">
			<AppenderRef ref="ApplicationLog"/>
		</Logger>
		<Logger name="org.apache.struts" level="WARN" additivity="false">
			<AppenderRef ref="ApplicationLog"/>
		</Logger>
		<Logger name="it.maggioli.eldasoft" level="ALL" additivity="false">
			<AppenderRef ref="ApplicationLog"/>
		</Logger>
		<Logger name="org.apache.commons" level="ERROR" additivity="false">
			<AppenderRef ref="ApplicationLog"/>
		</Logger>
		<Logger name="java.sql.Statement" level="DEBUG" additivity="false">
			<AppenderRef ref="ApplicationLog"/>
		</Logger>
		<Logger name="org.apache.velocity" level="FATAL" additivity="false">
			<AppenderRef ref="ApplicationLog"/>
		</Logger>
		<Logger name="org.displaytag" level="ERROR" additivity="false">
			<AppenderRef ref="ApplicationLog"/>
		</Logger>
		<Logger name="com.mybatis" level="WARN" additivity="false">
			<AppenderRef ref="ApplicationLog"/>
		</Logger>
		<Logger name="java.sql.ResultSet" level="DEBUG" additivity="false">
			<AppenderRef ref="ApplicationLog"/>
		</Logger>
		<Logger name="java.sql.Connection" level="DEBUG" additivity="false">
			<AppenderRef ref="ApplicationLog"/>
		</Logger>
		<Logger name="org.springframework" level="WARN" additivity="false">
			<AppenderRef ref="ApplicationLog"/>
		</Logger>
		
		<Root level="INFO">
			<AppenderRef ref="STDOUT"/>
			<AppenderRef ref="ApplicationLog"/>
		</Root>
	</Loggers>
</Configuration>